@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Six+Caps");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Spectral+SC");
@import url("https://fonts.googleapis.com/css?family=Mate+SC");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC");
.vapor-bg-gradient {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#C774E8, #94D0FF); }

.vapor-white-color {
  color: #FAFAFA; }

.vapor-white-bg-color {
  background-color: #FAFAFA; }

.vapor-black-color {
  color: #020202; }

.vapor-black-bg-color {
  background-color: #020202; }

.vapor-25-transparent-color {
  color: rgba(0, 0, 0, 0.25); }

.vapor-25-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.25); }

.vapor-50-transparent-color {
  color: rgba(0, 0, 0, 0.5); }

.vapor-50-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.5); }

.vapor-75-transparent-color {
  color: rgba(0, 0, 0, 0.75); }

.vapor-75-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.75); }

.vapor-purple-color {
  color: #C774E8; }

.vapor-purple-bg-color {
  background-color: #C774E8; }

.vapor-light-purple-color {
  color: #AD8CFF; }

.vapor-light-purple-bg-color {
  background-color: #AD8CFF; }

.vapor-pink-color {
  color: #FF6AD5; }

.vapor-pink-bg-color {
  background-color: #FF6AD5; }

.vapor-blue-color {
  color: #8795E8; }

.vapor-blue-bg-color {
  background-color: #8795E8; }

.vapor-light-blue-color {
  color: #94D0FF; }

.vapor-light-blue-bg-color {
  background-color: #94D0FF; }

.vapor-green-color {
  color: #10D7AE; }

.vapor-green-bg-color {
  background-color: #10D7AE; }

.vapor-arizona-pink-color {
  color: #FA7785; }

.vapor-arizona-pink-bg-color {
  background-color: #FA7785; }

.vapor-arizona-black-color {
  color: #24211A; }

.vapor-arizona-black-bg-color {
  background-color: #24211A; }

.vapor-arizona-lime-color {
  color: #D5D87D; }

.vapor-arizona-lime-bg-color {
  background-color: #D5D87D; }

.vapor-arizona-green-color {
  color: #B1D4B6; }

.vapor-arizona-green-bg-color {
  background-color: #B1D4B6; }

.vapor-arizona-blue-color {
  color: #53CBBF; }

.vapor-arizona-blue-bg-color {
  background-color: #53CBBF; }

.vapor-pepsi-blue-color {
  color: #123DFF; }

.vapor-pepsi-blue-bg-color {
  background-color: #123DFF; }

.vapor-pepsi-red-color {
  color: #E11C2D; }

.vapor-pepsi-red-bg-color {
  background-color: #E11C2D; }

.vapor-pepsi-white-color {
  color: #FFFFFF; }

.vapor-pepsi-white-bg-color {
  background-color: #FFFFFF; }

.vapor-pepsi-cola-color {
  color: #490104; }

.vapor-pepsi-cola-bg-color {
  background-color: #490104; }

.vapor-pepsi-grey-color {
  color: #C0C0C0; }

.vapor-pepsi-grey-bg-color {
  background-color: #C0C0C0; }

.vapor-windows-grey-color {
  color: #BFBFBF; }

.vapor-windows-grey-bg-color {
  background-color: #BFBFBF; }

.vapor-windows-grey-border-color {
  color: #DFDFDF; }

.vapor-windows-grey-border-bg-color {
  background-color: #DFDFDF; }

.vapor-windows-green-color {
  color: #218763; }

.vapor-windows-green-bg-color {
  background-color: #218763; }

.vapor-font-modifier-outline-black {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #020202, 1px -1px 1px #020202, -1px 1px 1px #020202, 1px 1px 1px #020202; }

.vapor-font-modifier-outline-pink {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #FF6AD5, 1px -1px 1px #FF6AD5, -1px 1px 1px #FF6AD5, 1px 1px 1px #FF6AD5; }

.vapor-font-modifier-outline-purple {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #C774E8, 1px -1px 1px #C774E8, -1px 1px 1px #C774E8, 1px 1px 1px #C774E8; }

.vapor-font-modifier-gradient-arizona {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to left, #FA7785, #D5D87D, #B1D4B6, #53CBBF); }

.vapor-font-modifier-gradient-pink-blue {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #FF6AD5, #8795E8); }

.vapor-font-modifier-gradient-pink-green {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #FF6AD5, #10D7AE); }

.vapor-font-modifier-gradient-green-pink {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #10D7AE, #FF6AD5); }

.vapor-font-modifier-gradient-purple-blue {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #C774E8, #8795E8); }

@keyframes flicker {
  0% {
    opacity: 0.74049; }
  5% {
    opacity: 0.98548; }
  10% {
    opacity: 0.10894; }
  15% {
    opacity: 0.91449; }
  20% {
    opacity: 0.05171; }
  25% {
    opacity: 0.30412; }
  30% {
    opacity: 0.98993; }
  35% {
    opacity: 0.98052; }
  40% {
    opacity: 0.80625; }
  45% {
    opacity: 0.99844; }
  50% {
    opacity: 0.03801; }
  55% {
    opacity: 0.6921; }
  60% {
    opacity: 0.6694; }
  65% {
    opacity: 0.62064; }
  70% {
    opacity: 0.37479; }
  75% {
    opacity: 0.70718; }
  80% {
    opacity: 0.35067; }
  85% {
    opacity: 0.16963; }
  90% {
    opacity: 0.45372; }
  95% {
    opacity: 0.82697; }
  100% {
    opacity: 0.28205; } }

.vapor-effect-crt {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121010; }
  .vapor-effect-crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite; }
  .vapor-effect-crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none; }

/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.vapor-effect-text-glitch {
  color: white;
  position: relative; }

@keyframes vapor-effect-text-glitch-anim-1 {
  0% {
    clip: rect(27px, 450px, 63px, 0); }
  5.88235% {
    clip: rect(59px, 450px, 113px, 0); }
  11.76471% {
    clip: rect(17px, 450px, 78px, 0); }
  17.64706% {
    clip: rect(115px, 450px, 98px, 0); }
  23.52941% {
    clip: rect(31px, 450px, 72px, 0); }
  29.41176% {
    clip: rect(4px, 450px, 53px, 0); }
  35.29412% {
    clip: rect(66px, 450px, 8px, 0); }
  41.17647% {
    clip: rect(68px, 450px, 27px, 0); }
  47.05882% {
    clip: rect(54px, 450px, 7px, 0); }
  52.94118% {
    clip: rect(94px, 450px, 10px, 0); }
  58.82353% {
    clip: rect(6px, 450px, 31px, 0); }
  64.70588% {
    clip: rect(91px, 450px, 49px, 0); }
  70.58824% {
    clip: rect(14px, 450px, 58px, 0); }
  76.47059% {
    clip: rect(42px, 450px, 22px, 0); }
  82.35294% {
    clip: rect(38px, 450px, 79px, 0); }
  88.23529% {
    clip: rect(83px, 450px, 29px, 0); }
  94.11765% {
    clip: rect(3px, 450px, 72px, 0); }
  100% {
    clip: rect(27px, 450px, 98px, 0); } }

@keyframes vapor-effect-text-glitch-anim-2 {
  0% {
    clip: rect(33px, 450px, 101px, 0); }
  5.88235% {
    clip: rect(45px, 450px, 89px, 0); }
  11.76471% {
    clip: rect(109px, 450px, 88px, 0); }
  17.64706% {
    clip: rect(51px, 450px, 48px, 0); }
  23.52941% {
    clip: rect(17px, 450px, 109px, 0); }
  29.41176% {
    clip: rect(45px, 450px, 74px, 0); }
  35.29412% {
    clip: rect(42px, 450px, 99px, 0); }
  41.17647% {
    clip: rect(23px, 450px, 70px, 0); }
  47.05882% {
    clip: rect(3px, 450px, 57px, 0); }
  52.94118% {
    clip: rect(114px, 450px, 96px, 0); }
  58.82353% {
    clip: rect(38px, 450px, 40px, 0); }
  64.70588% {
    clip: rect(70px, 450px, 4px, 0); }
  70.58824% {
    clip: rect(61px, 450px, 63px, 0); }
  76.47059% {
    clip: rect(110px, 450px, 79px, 0); }
  82.35294% {
    clip: rect(37px, 450px, 70px, 0); }
  88.23529% {
    clip: rect(92px, 450px, 70px, 0); }
  94.11765% {
    clip: rect(79px, 450px, 70px, 0); }
  100% {
    clip: rect(103px, 450px, 74px, 0); } }
  .vapor-effect-text-glitch:before, .vapor-effect-text-glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0); }
  .vapor-effect-text-glitch:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: vapor-effect-text-glitch-anim-1 2s infinite linear alternate-reverse; }
  .vapor-effect-text-glitch:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: vapor-effect-text-glitch-anim-2 3s infinite linear alternate-reverse; }

@keyframes vapor-effect-element-glitch-background {
  0% {
    background-color: red; }
  100% {
    background-color: blue; } }

.vapor-effect-element-glitch {
  position: relative;
  display: inline-block;
  animation: vapor-effect-element-glitch-background 0.25s infinite; }

@keyframes vapor-effect-element-glitch-animation-1 {
  0% {
    transform: skew(calc(calc(119deg / 100 ) - calc(108deg / 100 )), calc(calc(60deg / 100 ) - calc(20deg / 100 )));
    opacity: calc(81 / 65); }
  7% {
    transform: skew(calc(calc(100deg / 100 ) - calc(48deg / 100 )), calc(calc(8deg / 100 ) - calc(123deg / 100 )));
    opacity: calc(30 / 65); }
  10% {
    transform: skew(calc(calc(16deg / 100 ) - calc(43deg / 100 )), calc(calc(86deg / 100 ) - calc(36deg / 100 )));
    opacity: calc(34 / 65); }
  27% {
    transform: skew(calc(calc(45deg / 100 ) - calc(82deg / 100 )), calc(calc(73deg / 100 ) - calc(55deg / 100 )));
    opacity: calc(15 / 65); }
  30% {
    transform: skew(calc(calc(32deg / 100 ) - calc(125deg / 100 )), calc(calc(73deg / 100 ) - calc(11deg / 100 )));
    opacity: calc(71 / 65); }
  35% {
    transform: skew(calc(calc(61deg / 100 ) - calc(85deg / 100 )), calc(calc(149deg / 100 ) - calc(63deg / 100 )));
    opacity: calc(42 / 65); }
  52% {
    transform: skew(calc(calc(14deg / 100 ) - calc(114deg / 100 )), calc(calc(126deg / 100 ) - calc(109deg / 100 )));
    opacity: calc(9 / 65); }
  55% {
    transform: skew(calc(calc(115deg / 100 ) - calc(126deg / 100 )), calc(calc(34deg / 100 ) - calc(66deg / 100 )));
    opacity: calc(30 / 65); }
  50% {
    transform: skew(calc(calc(23deg / 100 ) - calc(106deg / 100 )), calc(calc(87deg / 100 ) - calc(126deg / 100 )));
    opacity: calc(15 / 65); }
  72% {
    transform: skew(calc(calc(2deg / 100 ) - calc(38deg / 100 )), calc(calc(124deg / 100 ) - calc(76deg / 100 )));
    opacity: calc(96 / 65); }
  75% {
    transform: skew(calc(calc(21deg / 100 ) - calc(99deg / 100 )), calc(calc(85deg / 100 ) - calc(87deg / 100 )));
    opacity: calc(7 / 65); }
  80% {
    transform: skew(calc(calc(95deg / 100 ) - calc(65deg / 100 )), calc(calc(64deg / 100 ) - calc(109deg / 100 )));
    opacity: calc(6 / 65); }
  100% {
    transform: skew(calc(calc(68deg / 100 ) - calc(104deg / 100 )), calc(calc(48deg / 100 ) - calc(63deg / 100 )));
    opacity: calc(10 / 65); } }

@keyframes vapor-effect-element-glitch-animation-2 {
  0% {
    transform: skew(calc(calc(49deg / 100 ) - calc(69deg / 100 )), calc(calc(128deg / 100 ) - calc(89deg / 100 )));
    opacity: calc(90 / 65); }
  7% {
    transform: skew(calc(calc(44deg / 100 ) - calc(116deg / 100 )), calc(calc(96deg / 100 ) - calc(102deg / 100 )));
    opacity: calc(73 / 65); }
  10% {
    transform: skew(calc(calc(36deg / 100 ) - calc(51deg / 100 )), calc(calc(82deg / 100 ) - calc(38deg / 100 )));
    opacity: calc(25 / 65); }
  27% {
    transform: skew(calc(calc(105deg / 100 ) - calc(30deg / 100 )), calc(calc(65deg / 100 ) - calc(62deg / 100 )));
    opacity: calc(59 / 65); }
  30% {
    transform: skew(calc(calc(57deg / 100 ) - calc(97deg / 100 )), calc(calc(141deg / 100 ) - calc(62deg / 100 )));
    opacity: calc(100 / 65); }
  35% {
    transform: skew(calc(calc(138deg / 100 ) - calc(74deg / 100 )), calc(calc(17deg / 100 ) - calc(115deg / 100 )));
    opacity: calc(16 / 65); }
  52% {
    transform: skew(calc(calc(36deg / 100 ) - calc(109deg / 100 )), calc(calc(119deg / 100 ) - calc(20deg / 100 )));
    opacity: calc(48 / 65); }
  55% {
    transform: skew(calc(calc(16deg / 100 ) - calc(111deg / 100 )), calc(calc(71deg / 100 ) - calc(145deg / 100 )));
    opacity: calc(43 / 65); }
  50% {
    transform: skew(calc(calc(52deg / 100 ) - calc(100deg / 100 )), calc(calc(76deg / 100 ) - calc(84deg / 100 )));
    opacity: calc(36 / 65); }
  72% {
    transform: skew(calc(calc(122deg / 100 ) - calc(33deg / 100 )), calc(calc(110deg / 100 ) - calc(19deg / 100 )));
    opacity: calc(62 / 65); }
  75% {
    transform: skew(calc(calc(81deg / 100 ) - calc(61deg / 100 )), calc(calc(64deg / 100 ) - calc(76deg / 100 )));
    opacity: calc(56 / 65); }
  80% {
    transform: skew(calc(calc(108deg / 100 ) - calc(142deg / 100 )), calc(calc(41deg / 100 ) - calc(44deg / 100 )));
    opacity: calc(76 / 65); }
  100% {
    transform: skew(calc(calc(63deg / 100 ) - calc(83deg / 100 )), calc(calc(101deg / 100 ) - calc(123deg / 100 )));
    opacity: calc(70 / 65); } }

@keyframes vapor-effect-element-glitch-animation-3 {
  0% {
    transform: skew(calc(calc(33deg / 100 ) - calc(41deg / 100 )), calc(calc(52deg / 100 ) - calc(28deg / 100 )));
    opacity: calc(73 / 65); }
  7% {
    transform: skew(calc(calc(106deg / 100 ) - calc(138deg / 100 )), calc(calc(141deg / 100 ) - calc(103deg / 100 )));
    opacity: calc(51 / 65); }
  10% {
    transform: skew(calc(calc(98deg / 100 ) - calc(109deg / 100 )), calc(calc(39deg / 100 ) - calc(53deg / 100 )));
    opacity: calc(10 / 65); }
  27% {
    transform: skew(calc(calc(5deg / 100 ) - calc(28deg / 100 )), calc(calc(94deg / 100 ) - calc(100deg / 100 )));
    opacity: calc(23 / 65); }
  30% {
    transform: skew(calc(calc(2deg / 100 ) - calc(63deg / 100 )), calc(calc(64deg / 100 ) - calc(87deg / 100 )));
    opacity: calc(42 / 65); }
  35% {
    transform: skew(calc(calc(147deg / 100 ) - calc(63deg / 100 )), calc(calc(23deg / 100 ) - calc(72deg / 100 )));
    opacity: calc(36 / 65); }
  52% {
    transform: skew(calc(calc(94deg / 100 ) - calc(19deg / 100 )), calc(calc(1deg / 100 ) - calc(61deg / 100 )));
    opacity: calc(2 / 65); }
  55% {
    transform: skew(calc(calc(146deg / 100 ) - calc(40deg / 100 )), calc(calc(148deg / 100 ) - calc(105deg / 100 )));
    opacity: calc(49 / 65); }
  50% {
    transform: skew(calc(calc(147deg / 100 ) - calc(52deg / 100 )), calc(calc(45deg / 100 ) - calc(48deg / 100 )));
    opacity: calc(64 / 65); }
  72% {
    transform: skew(calc(calc(123deg / 100 ) - calc(10deg / 100 )), calc(calc(51deg / 100 ) - calc(43deg / 100 )));
    opacity: calc(20 / 65); }
  75% {
    transform: skew(calc(calc(84deg / 100 ) - calc(102deg / 100 )), calc(calc(25deg / 100 ) - calc(106deg / 100 )));
    opacity: calc(6 / 65); }
  80% {
    transform: skew(calc(calc(94deg / 100 ) - calc(29deg / 100 )), calc(calc(130deg / 100 ) - calc(13deg / 100 )));
    opacity: calc(44 / 65); }
  100% {
    transform: skew(calc(calc(2deg / 100 ) - calc(13deg / 100 )), calc(calc(101deg / 100 ) - calc(95deg / 100 )));
    opacity: calc(61 / 65); } }
  .vapor-effect-element-glitch :nth-child(1) {
    opacity: 0.7; }
  .vapor-effect-element-glitch :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    animation: vapor-effect-element-glitch-animation-2 2.5s infinite; }
  .vapor-effect-element-glitch :nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    animation: vapor-effect-element-glitch-animation-3 1s infinite; }

.vapor-windows-container {
  background-color: #BFBFBF;
  box-shadow: 1px 1px 0 0 #000;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF; }

@keyframes vapor-windows-infinite-loader {
  0% {
    transform: translate(-40px); }
  100% {
    transform: translate(160px); } }

.vapor-windows-xp-loader {
  width: 150px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0; }

.vapor-windows-xp-loader > * {
  width: 9px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: vapor-windows-infinite-loader 3.5s infinite;
  animation-timing-function: linear; }

.vapor-windows-loader {
  width: 150px;
  height: 20px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 0px;
  padding: 1px 1px;
  background-color: #BFBFBF;
  overflow: hidden;
  font-size: 0; }

.vapor-windows-loader > * {
  width: 12px;
  height: 100%;
  background: blue;
  display: inline-block;
  margin-right: 1px;
  animation: vapor-windows-infinite-loader 3.5s infinite;
  animation-timing-function: linear; }

.vapor-windows-dropdown {
  position: relative;
  display: inline-block; }
  .vapor-windows-dropdown .vapor-windows-dropdown-trigger {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 1px 4px; }
  .vapor-windows-dropdown .vapor-windows-dropdown-trigger:focus {
    background-color: blue; }
  .vapor-windows-dropdown .vapor-windows-dropdown-trigger:focus ~ .vapor-windows-dropdown-menu {
    display: block; }
  .vapor-windows-dropdown .vapor-windows-dropdown-menu:hover, .vapor-windows-dropdown .vapor-windows-dropdown-menu:focus {
    display: block; }
  .vapor-windows-dropdown .vapor-windows-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #BFBFBF;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    min-width: 150px;
    padding: 4px;
    z-index: 1; }
    .vapor-windows-dropdown .vapor-windows-dropdown-menu .vapor-windows-dropdown-menu-item {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 10px; }
    .vapor-windows-dropdown .vapor-windows-dropdown-menu .vapor-windows-dropdown-menu-item:hover {
      background-color: blue; }

.vapor-windows-text-input {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF; }

.vapor-windows-checkbox, .vapor-windows-radio {
  cursor: pointer;
  position: relative;
  padding-left: calc(12px + 5px); }
  .vapor-windows-checkbox .vapor-windows-checkmark, .vapor-windows-radio .vapor-windows-checkmark {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF; }
  .vapor-windows-checkbox .vapor-windows-checkmark:after, .vapor-windows-radio .vapor-windows-checkmark:after {
    display: none;
    content: '';
    position: absolute;
    width: 5px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg); }
  .vapor-windows-checkbox input[type="checkbox"], .vapor-windows-radio input[type="checkbox"] {
    display: none; }
  .vapor-windows-checkbox input[type="checkbox"]:checked + .vapor-windows-checkmark:after, .vapor-windows-radio input[type="checkbox"]:checked + .vapor-windows-checkmark:after {
    display: block; }

.vapor-windows-radio {
  border-radius: 25px; }
  .vapor-windows-radio .vapor-windows-checkmark {
    border-radius: 25px; }
  .vapor-windows-radio .vapor-windows-checkmark:after {
    content: '';
    position: absolute;
    background-color: #000;
    border-radius: 25px;
    top: 3px;
    left: 3px;
    width: 3px;
    height: 3px;
    transform: rotate(0deg); }
  .vapor-windows-radio input[type="radio"] {
    display: none; }
  .vapor-windows-radio input[type="radio"]:checked + .vapor-windows-checkmark:after {
    display: block; }

.vapor-font {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter; }
  .vapor-font h1, .vapor-font h2, .vapor-font h3, .vapor-font h4, .vapor-font h5, .vapor-font h6 {
    font-weight: lighter; }

.vapor-font-cinzel {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Cinzel", Times, Times New Roman, Georgia, serif; }
  .vapor-font-cinzel h1, .vapor-font-cinzel h2, .vapor-font-cinzel h3, .vapor-font-cinzel h4, .vapor-font-cinzel h5, .vapor-font-cinzel h6 {
    font-weight: lighter; }

.vapor-font-playfair {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Playfair Display SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-playfair h1, .vapor-font-playfair h2, .vapor-font-playfair h3, .vapor-font-playfair h4, .vapor-font-playfair h5, .vapor-font-playfair h6 {
    font-weight: lighter; }

.vapor-font-monoton {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Monoton", Times, Times New Roman, Georgia, serif; }
  .vapor-font-monoton h1, .vapor-font-monoton h2, .vapor-font-monoton h3, .vapor-font-monoton h4, .vapor-font-monoton h5, .vapor-font-monoton h6 {
    font-weight: lighter; }

.vapor-font-VT323 {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "VT323", Times, Times New Roman, Georgia, serif; }
  .vapor-font-VT323 h1, .vapor-font-VT323 h2, .vapor-font-VT323 h3, .vapor-font-VT323 h4, .vapor-font-VT323 h5, .vapor-font-VT323 h6 {
    font-weight: lighter; }

.vapor-font-press-start {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Press Start 2P", Times, Times New Roman, Georgia, serif; }
  .vapor-font-press-start h1, .vapor-font-press-start h2, .vapor-font-press-start h3, .vapor-font-press-start h4, .vapor-font-press-start h5, .vapor-font-press-start h6 {
    font-weight: lighter; }

.vapor-font-limelight {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Limelight", Times, Times New Roman, Georgia, serif; }
  .vapor-font-limelight h1, .vapor-font-limelight h2, .vapor-font-limelight h3, .vapor-font-limelight h4, .vapor-font-limelight h5, .vapor-font-limelight h6 {
    font-weight: lighter; }

.vapor-font-share-tech-mono {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Share Tech Mono", Times, Times New Roman, Georgia, serif; }
  .vapor-font-share-tech-mono h1, .vapor-font-share-tech-mono h2, .vapor-font-share-tech-mono h3, .vapor-font-share-tech-mono h4, .vapor-font-share-tech-mono h5, .vapor-font-share-tech-mono h6 {
    font-weight: lighter; }

.vapor-font-six-caps {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Six Caps", Times, Times New Roman, Georgia, serif; }
  .vapor-font-six-caps h1, .vapor-font-six-caps h2, .vapor-font-six-caps h3, .vapor-font-six-caps h4, .vapor-font-six-caps h5, .vapor-font-six-caps h6 {
    font-weight: lighter; }

.vapor-font-cutive-mono {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Cutive Mono", Times, Times New Roman, Georgia, serif; }
  .vapor-font-cutive-mono h1, .vapor-font-cutive-mono h2, .vapor-font-cutive-mono h3, .vapor-font-cutive-mono h4, .vapor-font-cutive-mono h5, .vapor-font-cutive-mono h6 {
    font-weight: lighter; }

.vapor-font-spectral {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Spectral SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-spectral h1, .vapor-font-spectral h2, .vapor-font-spectral h3, .vapor-font-spectral h4, .vapor-font-spectral h5, .vapor-font-spectral h6 {
    font-weight: lighter; }

.vapor-font-mate {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Mate SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-mate h1, .vapor-font-mate h2, .vapor-font-mate h3, .vapor-font-mate h4, .vapor-font-mate h5, .vapor-font-mate h6 {
    font-weight: lighter; }

.vapor-font-im-fell-french-canon {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "IM Fell French Canon SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-im-fell-french-canon h1, .vapor-font-im-fell-french-canon h2, .vapor-font-im-fell-french-canon h3, .vapor-font-im-fell-french-canon h4, .vapor-font-im-fell-french-canon h5, .vapor-font-im-fell-french-canon h6 {
    font-weight: lighter; }
