@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Limelight");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Six+Caps");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Spectral+SC");
@import url("https://fonts.googleapis.com/css?family=Mate+SC");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC");
.vapor-bg-gradient {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#C774E8, #94D0FF); }

.vapor-white-color {
  color: #FAFAFA; }

.vapor-white-bg-color {
  background-color: #FAFAFA; }

.vapor-black-color {
  color: #020202; }

.vapor-black-bg-color {
  background-color: #020202; }

.vapor-25-transparent-color {
  color: rgba(0, 0, 0, 0.25); }

.vapor-25-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.25); }

.vapor-50-transparent-color {
  color: rgba(0, 0, 0, 0.5); }

.vapor-50-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.5); }

.vapor-75-transparent-color {
  color: rgba(0, 0, 0, 0.75); }

.vapor-75-transparent-bg-color {
  background-color: rgba(0, 0, 0, 0.75); }

.vapor-purple-color {
  color: #C774E8; }

.vapor-purple-bg-color {
  background-color: #C774E8; }

.vapor-light-purple-color {
  color: #AD8CFF; }

.vapor-light-purple-bg-color {
  background-color: #AD8CFF; }

.vapor-pink-color {
  color: #FF6AD5; }

.vapor-pink-bg-color {
  background-color: #FF6AD5; }

.vapor-blue-color {
  color: #8795E8; }

.vapor-blue-bg-color {
  background-color: #8795E8; }

.vapor-light-blue-color {
  color: #94D0FF; }

.vapor-light-blue-bg-color {
  background-color: #94D0FF; }

.vapor-green-color {
  color: #10D7AE; }

.vapor-green-bg-color {
  background-color: #10D7AE; }

.vapor-arizona-pink-color {
  color: #FA7785; }

.vapor-arizona-pink-bg-color {
  background-color: #FA7785; }

.vapor-arizona-black-color {
  color: #24211A; }

.vapor-arizona-black-bg-color {
  background-color: #24211A; }

.vapor-arizona-lime-color {
  color: #D5D87D; }

.vapor-arizona-lime-bg-color {
  background-color: #D5D87D; }

.vapor-arizona-green-color {
  color: #B1D4B6; }

.vapor-arizona-green-bg-color {
  background-color: #B1D4B6; }

.vapor-arizona-blue-color {
  color: #53CBBF; }

.vapor-arizona-blue-bg-color {
  background-color: #53CBBF; }

.vapor-pepsi-blue-color {
  color: #123DFF; }

.vapor-pepsi-blue-bg-color {
  background-color: #123DFF; }

.vapor-pepsi-red-color {
  color: #E11C2D; }

.vapor-pepsi-red-bg-color {
  background-color: #E11C2D; }

.vapor-pepsi-white-color {
  color: #FFFFFF; }

.vapor-pepsi-white-bg-color {
  background-color: #FFFFFF; }

.vapor-pepsi-cola-color {
  color: #490104; }

.vapor-pepsi-cola-bg-color {
  background-color: #490104; }

.vapor-pepsi-grey-color {
  color: #C0C0C0; }

.vapor-pepsi-grey-bg-color {
  background-color: #C0C0C0; }

.vapor-windows-95-grey-color {
  color: #BFBFBF; }

.vapor-windows-95-grey-bg-color {
  background-color: #BFBFBF; }

.vapor-windows-95-grey-border-color {
  color: #DFDFDF; }

.vapor-windows-95-grey-border-bg-color {
  background-color: #DFDFDF; }

.vapor-windows-95-green-color {
  color: #218763; }

.vapor-windows-95-green-bg-color {
  background-color: #218763; }

.vapor-font-modifier-outline-black {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #020202, 1px -1px 1px #020202, -1px 1px 1px #020202, 1px 1px 1px #020202; }

.vapor-font-modifier-outline-pink {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #FF6AD5, 1px -1px 1px #FF6AD5, -1px 1px 1px #FF6AD5, 1px 1px 1px #FF6AD5; }

.vapor-font-modifier-outline-purple {
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: -1px -1px 1px #C774E8, 1px -1px 1px #C774E8, -1px 1px 1px #C774E8, 1px 1px 1px #C774E8; }

.vapor-font-modifier-gradient-arizona {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to left, #FA7785, #D5D87D, #B1D4B6, #53CBBF); }

.vapor-font-modifier-gradient-pink-blue {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #FF6AD5, #8795E8); }

.vapor-font-modifier-gradient-pink-green {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #FF6AD5, #10D7AE); }

.vapor-font-modifier-gradient-green-pink {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #10D7AE, #FF6AD5); }

.vapor-font-modifier-gradient-purple-blue {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to right, #C774E8, #8795E8); }

@keyframes flicker {
  0% {
    opacity: 0.30969; }
  5% {
    opacity: 0.7013; }
  10% {
    opacity: 0.57765; }
  15% {
    opacity: 0.84633; }
  20% {
    opacity: 0.44109; }
  25% {
    opacity: 0.75672; }
  30% {
    opacity: 0.68239; }
  35% {
    opacity: 0.64395; }
  40% {
    opacity: 0.75011; }
  45% {
    opacity: 0.42701; }
  50% {
    opacity: 0.35862; }
  55% {
    opacity: 0.5662; }
  60% {
    opacity: 0.84072; }
  65% {
    opacity: 0.10948; }
  70% {
    opacity: 0.04048; }
  75% {
    opacity: 0.00225; }
  80% {
    opacity: 0.00145; }
  85% {
    opacity: 0.32102; }
  90% {
    opacity: 0.76149; }
  95% {
    opacity: 0.4876; }
  100% {
    opacity: 0.58993; } }

.vapor-effect-crt {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121010; }
  .vapor-effect-crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite; }
  .vapor-effect-crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none; }

/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.vapor-effect-text-glitch {
  color: white;
  position: relative; }

@keyframes vapor-effect-text-glitch-anim-1 {
  0% {
    clip: rect(71px, 450px, 81px, 0); }
  5.88235% {
    clip: rect(25px, 450px, 41px, 0); }
  11.76471% {
    clip: rect(32px, 450px, 97px, 0); }
  17.64706% {
    clip: rect(10px, 450px, 101px, 0); }
  23.52941% {
    clip: rect(36px, 450px, 30px, 0); }
  29.41176% {
    clip: rect(18px, 450px, 102px, 0); }
  35.29412% {
    clip: rect(50px, 450px, 29px, 0); }
  41.17647% {
    clip: rect(11px, 450px, 57px, 0); }
  47.05882% {
    clip: rect(110px, 450px, 71px, 0); }
  52.94118% {
    clip: rect(83px, 450px, 58px, 0); }
  58.82353% {
    clip: rect(105px, 450px, 79px, 0); }
  64.70588% {
    clip: rect(104px, 450px, 102px, 0); }
  70.58824% {
    clip: rect(15px, 450px, 7px, 0); }
  76.47059% {
    clip: rect(73px, 450px, 74px, 0); }
  82.35294% {
    clip: rect(100px, 450px, 59px, 0); }
  88.23529% {
    clip: rect(12px, 450px, 10px, 0); }
  94.11765% {
    clip: rect(69px, 450px, 103px, 0); }
  100% {
    clip: rect(76px, 450px, 73px, 0); } }

@keyframes vapor-effect-text-glitch-anim-2 {
  0% {
    clip: rect(80px, 450px, 67px, 0); }
  5.88235% {
    clip: rect(52px, 450px, 11px, 0); }
  11.76471% {
    clip: rect(49px, 450px, 92px, 0); }
  17.64706% {
    clip: rect(22px, 450px, 39px, 0); }
  23.52941% {
    clip: rect(9px, 450px, 29px, 0); }
  29.41176% {
    clip: rect(17px, 450px, 86px, 0); }
  35.29412% {
    clip: rect(48px, 450px, 15px, 0); }
  41.17647% {
    clip: rect(105px, 450px, 85px, 0); }
  47.05882% {
    clip: rect(24px, 450px, 51px, 0); }
  52.94118% {
    clip: rect(11px, 450px, 75px, 0); }
  58.82353% {
    clip: rect(24px, 450px, 58px, 0); }
  64.70588% {
    clip: rect(111px, 450px, 24px, 0); }
  70.58824% {
    clip: rect(90px, 450px, 102px, 0); }
  76.47059% {
    clip: rect(89px, 450px, 57px, 0); }
  82.35294% {
    clip: rect(33px, 450px, 114px, 0); }
  88.23529% {
    clip: rect(90px, 450px, 115px, 0); }
  94.11765% {
    clip: rect(104px, 450px, 42px, 0); }
  100% {
    clip: rect(41px, 450px, 80px, 0); } }
  .vapor-effect-text-glitch::before, .vapor-effect-text-glitch::after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0); }
  .vapor-effect-text-glitch::after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: vapor-effect-text-glitch-anim-1 2s infinite linear alternate-reverse; }
  .vapor-effect-text-glitch::before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: vapor-effect-text-glitch-anim-2 3s infinite linear alternate-reverse; }

@keyframes vapor-effect-element-glitch-background {
  0% {
    background-color: red; }
  100% {
    background-color: blue; } }

.vapor-effect-element-glitch {
  position: relative;
  display: inline-block;
  animation: vapor-effect-element-glitch-background 0.25s infinite; }

@keyframes vapor-effect-element-glitch-animation-1 {
  0% {
    transform: skew(calc(calc(13deg / 100 ) - calc(148deg / 100 )), calc(calc(102deg / 100 ) - calc(61deg / 100 )));
    opacity: calc(56 / 75); }
  7% {
    transform: skew(calc(calc(140deg / 100 ) - calc(78deg / 100 )), calc(calc(92deg / 100 ) - calc(93deg / 100 )));
    opacity: calc(62 / 75); }
  10% {
    transform: skew(calc(calc(13deg / 100 ) - calc(38deg / 100 )), calc(calc(48deg / 100 ) - calc(134deg / 100 )));
    opacity: calc(50 / 75); }
  27% {
    transform: skew(calc(calc(28deg / 100 ) - calc(22deg / 100 )), calc(calc(142deg / 100 ) - calc(101deg / 100 )));
    opacity: calc(70 / 75); }
  30% {
    transform: skew(calc(calc(129deg / 100 ) - calc(20deg / 100 )), calc(calc(133deg / 100 ) - calc(118deg / 100 )));
    opacity: calc(51 / 75); }
  35% {
    transform: skew(calc(calc(72deg / 100 ) - calc(125deg / 100 )), calc(calc(121deg / 100 ) - calc(146deg / 100 )));
    opacity: calc(94 / 75); }
  52% {
    transform: skew(calc(calc(65deg / 100 ) - calc(138deg / 100 )), calc(calc(39deg / 100 ) - calc(27deg / 100 )));
    opacity: calc(12 / 75); }
  55% {
    transform: skew(calc(calc(35deg / 100 ) - calc(100deg / 100 )), calc(calc(128deg / 100 ) - calc(43deg / 100 )));
    opacity: calc(39 / 75); }
  50% {
    transform: skew(calc(calc(3deg / 100 ) - calc(20deg / 100 )), calc(calc(108deg / 100 ) - calc(25deg / 100 )));
    opacity: calc(42 / 75); }
  72% {
    transform: skew(calc(calc(142deg / 100 ) - calc(67deg / 100 )), calc(calc(76deg / 100 ) - calc(70deg / 100 )));
    opacity: calc(91 / 75); }
  75% {
    transform: skew(calc(calc(98deg / 100 ) - calc(7deg / 100 )), calc(calc(70deg / 100 ) - calc(131deg / 100 )));
    opacity: calc(40 / 75); }
  80% {
    transform: skew(calc(calc(33deg / 100 ) - calc(55deg / 100 )), calc(calc(11deg / 100 ) - calc(106deg / 100 )));
    opacity: calc(40 / 75); }
  100% {
    transform: skew(calc(calc(56deg / 100 ) - calc(103deg / 100 )), calc(calc(135deg / 100 ) - calc(46deg / 100 )));
    opacity: calc(31 / 75); } }

@keyframes vapor-effect-element-glitch-animation-2 {
  0% {
    transform: skew(calc(calc(36deg / 100 ) - calc(56deg / 100 )), calc(calc(82deg / 100 ) - calc(3deg / 100 )));
    opacity: calc(8 / 75); }
  7% {
    transform: skew(calc(calc(122deg / 100 ) - calc(87deg / 100 )), calc(calc(98deg / 100 ) - calc(19deg / 100 )));
    opacity: calc(85 / 75); }
  10% {
    transform: skew(calc(calc(48deg / 100 ) - calc(123deg / 100 )), calc(calc(10deg / 100 ) - calc(23deg / 100 )));
    opacity: calc(79 / 75); }
  27% {
    transform: skew(calc(calc(87deg / 100 ) - calc(124deg / 100 )), calc(calc(1deg / 100 ) - calc(16deg / 100 )));
    opacity: calc(39 / 75); }
  30% {
    transform: skew(calc(calc(107deg / 100 ) - calc(89deg / 100 )), calc(calc(129deg / 100 ) - calc(35deg / 100 )));
    opacity: calc(7 / 75); }
  35% {
    transform: skew(calc(calc(147deg / 100 ) - calc(39deg / 100 )), calc(calc(54deg / 100 ) - calc(63deg / 100 )));
    opacity: calc(76 / 75); }
  52% {
    transform: skew(calc(calc(89deg / 100 ) - calc(30deg / 100 )), calc(calc(59deg / 100 ) - calc(66deg / 100 )));
    opacity: calc(79 / 75); }
  55% {
    transform: skew(calc(calc(56deg / 100 ) - calc(8deg / 100 )), calc(calc(41deg / 100 ) - calc(23deg / 100 )));
    opacity: calc(10 / 75); }
  50% {
    transform: skew(calc(calc(108deg / 100 ) - calc(29deg / 100 )), calc(calc(128deg / 100 ) - calc(111deg / 100 )));
    opacity: calc(73 / 75); }
  72% {
    transform: skew(calc(calc(74deg / 100 ) - calc(128deg / 100 )), calc(calc(1deg / 100 ) - calc(7deg / 100 )));
    opacity: calc(31 / 75); }
  75% {
    transform: skew(calc(calc(105deg / 100 ) - calc(91deg / 100 )), calc(calc(59deg / 100 ) - calc(136deg / 100 )));
    opacity: calc(80 / 75); }
  80% {
    transform: skew(calc(calc(68deg / 100 ) - calc(68deg / 100 )), calc(calc(136deg / 100 ) - calc(95deg / 100 )));
    opacity: calc(16 / 75); }
  100% {
    transform: skew(calc(calc(23deg / 100 ) - calc(69deg / 100 )), calc(calc(81deg / 100 ) - calc(108deg / 100 )));
    opacity: calc(85 / 75); } }

@keyframes vapor-effect-element-glitch-animation-3 {
  0% {
    transform: skew(calc(calc(78deg / 100 ) - calc(131deg / 100 )), calc(calc(119deg / 100 ) - calc(57deg / 100 )));
    opacity: calc(90 / 75); }
  7% {
    transform: skew(calc(calc(40deg / 100 ) - calc(142deg / 100 )), calc(calc(2deg / 100 ) - calc(73deg / 100 )));
    opacity: calc(26 / 75); }
  10% {
    transform: skew(calc(calc(33deg / 100 ) - calc(26deg / 100 )), calc(calc(48deg / 100 ) - calc(148deg / 100 )));
    opacity: calc(53 / 75); }
  27% {
    transform: skew(calc(calc(147deg / 100 ) - calc(130deg / 100 )), calc(calc(29deg / 100 ) - calc(36deg / 100 )));
    opacity: calc(3 / 75); }
  30% {
    transform: skew(calc(calc(87deg / 100 ) - calc(149deg / 100 )), calc(calc(80deg / 100 ) - calc(136deg / 100 )));
    opacity: calc(31 / 75); }
  35% {
    transform: skew(calc(calc(90deg / 100 ) - calc(77deg / 100 )), calc(calc(133deg / 100 ) - calc(66deg / 100 )));
    opacity: calc(12 / 75); }
  52% {
    transform: skew(calc(calc(94deg / 100 ) - calc(105deg / 100 )), calc(calc(104deg / 100 ) - calc(42deg / 100 )));
    opacity: calc(32 / 75); }
  55% {
    transform: skew(calc(calc(82deg / 100 ) - calc(79deg / 100 )), calc(calc(31deg / 100 ) - calc(75deg / 100 )));
    opacity: calc(32 / 75); }
  50% {
    transform: skew(calc(calc(35deg / 100 ) - calc(29deg / 100 )), calc(calc(28deg / 100 ) - calc(45deg / 100 )));
    opacity: calc(30 / 75); }
  72% {
    transform: skew(calc(calc(45deg / 100 ) - calc(143deg / 100 )), calc(calc(47deg / 100 ) - calc(119deg / 100 )));
    opacity: calc(89 / 75); }
  75% {
    transform: skew(calc(calc(2deg / 100 ) - calc(13deg / 100 )), calc(calc(115deg / 100 ) - calc(45deg / 100 )));
    opacity: calc(51 / 75); }
  80% {
    transform: skew(calc(calc(107deg / 100 ) - calc(79deg / 100 )), calc(calc(112deg / 100 ) - calc(20deg / 100 )));
    opacity: calc(63 / 75); }
  100% {
    transform: skew(calc(calc(35deg / 100 ) - calc(56deg / 100 )), calc(calc(115deg / 100 ) - calc(65deg / 100 )));
    opacity: calc(30 / 75); } }
  .vapor-effect-element-glitch :nth-child(1) {
    opacity: 0.7; }
  .vapor-effect-element-glitch :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    animation: vapor-effect-element-glitch-animation-2 2.5s infinite; }
  .vapor-effect-element-glitch :nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    animation: vapor-effect-element-glitch-animation-3 1s infinite; }

.vapor-windows-95-container {
  box-shadow: 1px 1px 0 0 #000;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  display: block;
  background-color: #BFBFBF;
  padding: 4px; }

@keyframes vapor-windows-95-boot-infinite-loader {
  0% {
    transform: translate(-220%); }
  100% {
    transform: translate(160%); } }

.vapor-windows-95-boot-loader {
  width: 100%;
  height: 20px;
  background-color: #BFBFBF;
  overflow: hidden;
  font-size: 0; }

.vapor-windows-95-boot-loader > * {
  width: 75%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(to right, #BFBFBF 0%, blue 15%, blue 85%, #BFBFBF 100%);
  display: inline-block;
  margin-right: 1px;
  animation: vapor-windows-95-boot-infinite-loader 4.5s infinite;
  animation-timing-function: linear; }

@keyframes vapor-windows-xp-infinite-loader {
  0% {
    transform: translate(-50px); }
  100% {
    transform: translate(160px); } }

.vapor-windows-xp-loader {
  width: 150px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0; }

.vapor-windows-xp-loader > * {
  width: 9px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: vapor-windows-xp-infinite-loader 3.5s infinite;
  animation-timing-function: linear; }

.vapor-windows-95-loader {
  width: 150px;
  height: 20px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 0px;
  padding: 1px 1px;
  background-color: #BFBFBF;
  overflow: hidden;
  font-size: 0; }

.vapor-windows-95-loader > * {
  width: 12px;
  height: 100%;
  background: blue;
  display: inline-block;
  margin-right: 1px;
  animation: vapor-windows-xp-infinite-loader 3.5s infinite;
  animation-timing-function: linear; }

.vapor-windows-95-dropdown {
  position: relative;
  display: inline-block; }
  .vapor-windows-95-dropdown:focus-within .vapor-windows-95-dropdown-menu {
    display: block; }
  .vapor-windows-95-dropdown .vapor-windows-95-dropdown-trigger {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 1px 4px; }
  .vapor-windows-95-dropdown .vapor-windows-95-dropdown-trigger:focus {
    outline: 1px dashed #000;
    background-color: blue;
    color: #FFF; }
  .vapor-windows-95-dropdown .vapor-windows-95-dropdown-trigger:focus ~ .vapor-windows-95-dropdown-menu {
    display: block; }
  .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu {
    box-shadow: 1px 1px 0 0 #000;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    display: none;
    position: absolute;
    margin: 0;
    list-style-type: none;
    background-color: #BFBFBF;
    min-width: 150px;
    padding: 4px;
    z-index: 1; }
    .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu:hover, .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu:focus, .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu:focus-within {
      display: block; }
    .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu .vapor-windows-95-dropdown-menu-item {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 10px;
      cursor: pointer; }
      .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu .vapor-windows-95-dropdown-menu-item button {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: none; }
      .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu .vapor-windows-95-dropdown-menu-item:hover, .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu .vapor-windows-95-dropdown-menu-item:focus, .vapor-windows-95-dropdown .vapor-windows-95-dropdown-menu .vapor-windows-95-dropdown-menu-item:focus-within {
        outline: 1px dashed #000;
        background-color: blue;
        color: #FFF; }

.vapor-windows-95-text-input {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF; }
  .vapor-windows-95-text-input:focus {
    outline: 1px dashed #000; }

.vapor-windows-95-checkbox, .vapor-windows-95-radio {
  cursor: pointer;
  position: relative;
  padding-left: calc(12px + 7px); }
  .vapor-windows-95-checkbox:focus, .vapor-windows-95-radio:focus, .vapor-windows-95-checkbox:focus-within, .vapor-windows-95-radio:focus-within {
    outline: 1px dashed #000; }
  .vapor-windows-95-checkbox .vapor-windows-95-checkmark, .vapor-windows-95-radio .vapor-windows-95-checkmark {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF; }
  .vapor-windows-95-checkbox .vapor-windows-95-checkmark::after, .vapor-windows-95-radio .vapor-windows-95-checkmark::after {
    display: none;
    content: '';
    position: absolute;
    width: 5px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg); }
  .vapor-windows-95-checkbox input[type="checkbox"], .vapor-windows-95-radio input[type="checkbox"] {
    opacity: 0; }
  .vapor-windows-95-checkbox input[type="checkbox"]:checked + .vapor-windows-95-checkmark::after, .vapor-windows-95-radio input[type="checkbox"]:checked + .vapor-windows-95-checkmark::after {
    display: block; }

.vapor-windows-95-radio {
  border-radius: 25px; }
  .vapor-windows-95-radio:nth-child(1) {
    margin-bottom: 100px; }
  .vapor-windows-95-radio .vapor-windows-95-checkmark {
    border-radius: 25px; }
  .vapor-windows-95-radio .vapor-windows-95-checkmark::after {
    content: '';
    position: absolute;
    background-color: #000;
    border-radius: 25px;
    top: 3px;
    left: 3px;
    width: 3px;
    height: 3px;
    transform: rotate(0deg); }
  .vapor-windows-95-radio input[type="radio"] {
    opacity: 0; }
  .vapor-windows-95-radio input[type="radio"]:checked + .vapor-windows-95-checkmark:after {
    display: block; }

.vapor-windows-95-select {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #FFF;
  cursor: pointer; }
  .vapor-windows-95-select:after {
    content: " ";
    width: 100px;
    height: 100px;
    z-index: 100;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #000;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    pointer-events: none; }
  .vapor-windows-95-select select {
    cursor: pointer;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline;
    margin-left: -5px;
    width: calc(100% + 5px); }
    .vapor-windows-95-select select:focus, .vapor-windows-95-select select:focus-within {
      outline: 1px dashed #000;
      background-color: blue;
      color: #FFF; }
  .vapor-windows-95-select .vapor-windows-95-select-checkmark-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 16px;
    background: linear-gradient(to bottom right, #FFF 0%, #BFBFBF 2%, #BFBFBF 94%, #000 100%);
    border-top: 2px solid #DFDFDF;
    border-left: 2px solid #DFDFDF;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
    pointer-events: none; }

.vapor-windows-95-taskbar {
  position: relative;
  background-color: #BFBFBF;
  border-top: 1px solid #DFDFDF;
  width: 100%;
  height: 4vh;
  display: flex;
  padding: 5px; }
  .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border: 1px solid;
    border-top-color: #DFDFDF;
    border-left-color: #DFDFDF;
    border-bottom-color: #808080;
    border-right-color: #808080;
    box-shadow: 1px 1px 0 0 #000;
    cursor: pointer; }
  .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu {
    border: 1px solid;
    border-top-color: #DFDFDF;
    border-left-color: #DFDFDF;
    border-bottom-color: #808080;
    border-right-color: #808080;
    box-shadow: 1px 1px 0 0 #000;
    display: none;
    position: absolute;
    bottom: calc(100% - 5px);
    left: 10px;
    background-color: #BFBFBF;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu.is-active {
      display: block; }
    .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu .vapor-windows-95-taskbar-start-menu-item {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 10px;
      cursor: pointer; }
      .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu .vapor-windows-95-taskbar-start-menu-item button {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: none; }
      .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu .vapor-windows-95-taskbar-start-menu-item:hover, .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu .vapor-windows-95-taskbar-start-menu-item:focus, .vapor-windows-95-taskbar .vapor-windows-95-taskbar-start-menu .vapor-windows-95-taskbar-start-menu-item:focus-within {
        outline: 1px dashed #000;
        background-color: blue;
        color: #FFF; }
  .vapor-windows-95-taskbar .vapor-windows-95-taskbar-services {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    padding: 5px;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer; }

.vapor-font {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter; }
  .vapor-font h1, .vapor-font h2, .vapor-font h3, .vapor-font h4, .vapor-font h5, .vapor-font h6 {
    font-weight: lighter; }

.vapor-font-cinzel {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Cinzel", Times, Times New Roman, Georgia, serif; }
  .vapor-font-cinzel h1, .vapor-font-cinzel h2, .vapor-font-cinzel h3, .vapor-font-cinzel h4, .vapor-font-cinzel h5, .vapor-font-cinzel h6 {
    font-weight: lighter; }

.vapor-font-playfair {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Playfair Display SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-playfair h1, .vapor-font-playfair h2, .vapor-font-playfair h3, .vapor-font-playfair h4, .vapor-font-playfair h5, .vapor-font-playfair h6 {
    font-weight: lighter; }

.vapor-font-monoton {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Monoton", Times, Times New Roman, Georgia, serif; }
  .vapor-font-monoton h1, .vapor-font-monoton h2, .vapor-font-monoton h3, .vapor-font-monoton h4, .vapor-font-monoton h5, .vapor-font-monoton h6 {
    font-weight: lighter; }

.vapor-font-VT323 {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "VT323", Times, Times New Roman, Georgia, serif; }
  .vapor-font-VT323 h1, .vapor-font-VT323 h2, .vapor-font-VT323 h3, .vapor-font-VT323 h4, .vapor-font-VT323 h5, .vapor-font-VT323 h6 {
    font-weight: lighter; }

.vapor-font-press-start {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Press Start 2P", Times, Times New Roman, Georgia, serif; }
  .vapor-font-press-start h1, .vapor-font-press-start h2, .vapor-font-press-start h3, .vapor-font-press-start h4, .vapor-font-press-start h5, .vapor-font-press-start h6 {
    font-weight: lighter; }

.vapor-font-limelight {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Limelight", Times, Times New Roman, Georgia, serif; }
  .vapor-font-limelight h1, .vapor-font-limelight h2, .vapor-font-limelight h3, .vapor-font-limelight h4, .vapor-font-limelight h5, .vapor-font-limelight h6 {
    font-weight: lighter; }

.vapor-font-share-tech-mono {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Share Tech Mono", Times, Times New Roman, Georgia, serif; }
  .vapor-font-share-tech-mono h1, .vapor-font-share-tech-mono h2, .vapor-font-share-tech-mono h3, .vapor-font-share-tech-mono h4, .vapor-font-share-tech-mono h5, .vapor-font-share-tech-mono h6 {
    font-weight: lighter; }

.vapor-font-six-caps {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Six Caps", Times, Times New Roman, Georgia, serif; }
  .vapor-font-six-caps h1, .vapor-font-six-caps h2, .vapor-font-six-caps h3, .vapor-font-six-caps h4, .vapor-font-six-caps h5, .vapor-font-six-caps h6 {
    font-weight: lighter; }

.vapor-font-cutive-mono {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Cutive Mono", Times, Times New Roman, Georgia, serif; }
  .vapor-font-cutive-mono h1, .vapor-font-cutive-mono h2, .vapor-font-cutive-mono h3, .vapor-font-cutive-mono h4, .vapor-font-cutive-mono h5, .vapor-font-cutive-mono h6 {
    font-weight: lighter; }

.vapor-font-spectral {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Spectral SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-spectral h1, .vapor-font-spectral h2, .vapor-font-spectral h3, .vapor-font-spectral h4, .vapor-font-spectral h5, .vapor-font-spectral h6 {
    font-weight: lighter; }

.vapor-font-mate {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "Mate SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-mate h1, .vapor-font-mate h2, .vapor-font-mate h3, .vapor-font-mate h4, .vapor-font-mate h5, .vapor-font-mate h6 {
    font-weight: lighter; }

.vapor-font-im-fell-french-canon {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: lighter;
  font-family: "IM Fell French Canon SC", Times, Times New Roman, Georgia, serif; }
  .vapor-font-im-fell-french-canon h1, .vapor-font-im-fell-french-canon h2, .vapor-font-im-fell-french-canon h3, .vapor-font-im-fell-french-canon h4, .vapor-font-im-fell-french-canon h5, .vapor-font-im-fell-french-canon h6 {
    font-weight: lighter; }

.windows-button-ok {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  width: 75px;
  margin-top: 8px; }

.windows-button-ok:active {
  transform: translateY(1px);
  box-shadow: 1px 1px #000; }

.windows-title-bar-button-close {
  color: #070707;
  font-weight: bold;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 2px;
  width: 14px;
  height: 14px;
  font-size: 8px; }

.windows-title-bar-button-close:active {
  transform: translatey(1px);
  box-shadow: 1px 1px 0 0 #000; }

.windows-modal {
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  outline: 0;
  width: 400px;
  height: 400px; }

.windows-modal-title-bar {
  text-align: left;
  color: white;
  background: #000084;
  border: 1px solid;
  border-top-color: #dbdbdb;
  border-left-color: #dbdbdb;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px;
  outline: 0;
  margin-top: 4px;
  margin-left: 4px;
  height: 18px;
  width: 390px;
  display: flex;
  align-items: center; }

.windows-modal-wrapper {
  display: flex;
  justify-content: center; }

.title-text {
  font-size: 12px;
  margin-left: 8px;
  margin: 0px;
  margin-top: 2px; }

.right-align {
  text-align: right;
  margin-right: 10px; }

.corner-close {
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
  flex-grow: 1; }

.windows-modal-tab {
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  outline: 0;
  display: flex;
  margin-left: 6px;
  width: 385px;
  height: 300px; }

.windows-modal-tab-general {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #bfbfbf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 26px;
  margin-top: 4px;
  margin-left: 6px;
  z-index: 1; }

.windows-modal-tab-vapor {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0; }

.windows-tab-cont {
  display: flex;
  height: 28px;
  width: 100%; }

.windows-modal-tab-macintosh {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0; }

.windows-modal-tab-anime {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0; }

.modal-text {
  margin-left: 4px; }

.xp-modal-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center; }

.xp-modal {
  background: #ece9d6;
  border: 3px solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-color: #005cf5;
  outline: 0;
  width: 400px;
  height: 400px; }

.xp-title-bar {
  text-align: left;
  color: white;
  background: #005cf5;
  box-shadow: 1px;
  outline: 0;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center; }

.xp-title-text {
  font-size: 12px;
  margin-left: 6px; }

.xp-close-button {
  color: #ece9d6;
  background: #e26725;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2px;
  margin-bottom: 6px;
  margin-top: 4px; }

.xp-modal-main {
  background: #f8f4f1;
  border: 1px solid;
  border-top-color: #c9cac4;
  border-left-color: #c9cac4;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #c9cac4;
  outline: 0;
  display: flex;
  margin-left: 6px;
  width: 385px;
  height: 300px; }

.xp-ok-button {
  color: #070707;
  background: #f8f4f1;
  border: 2px solid;
  border-radius: 4px;
  border-color: #8aa2cb;
  text-align: center;
  outline: 0;
  width: 75px;
  height: 20px;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: auto; }

.xp-cancel-button {
  color: #070707;
  background: #f8f4f1;
  border: 2px solid;
  border-radius: 4px;
  border-color: #8aa2cb;
  text-align: center;
  outline: 0;
  width: 75px;
  height: 20px;
  margin-top: 14px;
  margin-right: 10px; }

.xp-button-cont {
  display: flex;
  height: 28px;
  width: 100%; }

.xp-tab-container {
  display: flex;
  height: 28px;
  width: 100%; }

.xp-tab-style {
  color: #070707;
  background: #f8f4f1;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid;
  border-color: #c9cac4;
  text-align: center;
  outline: 0;
  height: 19px;
  margin-top: 10px;
  z-index: 0;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.xp-tab-style:nth-child(1) {
  margin-left: 6px;
  z-index: 1;
  border-top: 2px solid;
  border-bottom-color: #f8f4f1;
  border-top-color: #efc47b; }

.system-text {
  font-size: 12px; }
