
// Classes to apply colors to text and background

.vapor-white-color {
  color: $vapor-white;
}
.vapor-white-bg-color {
  background-color: $vapor-white;
}

.vapor-black-color {
  color: $vapor-black;
}
.vapor-black-bg-color {
  background-color: $vapor-black;
}

.vapor-25-transparent-color {
  color: $vapor-25-transparent;
}
.vapor-25-transparent-bg-color {
  background-color: $vapor-25-transparent;
}

.vapor-50-transparent-color {
  color: $vapor-50-transparent;
}
.vapor-50-transparent-bg-color {
  background-color: $vapor-50-transparent;
}

.vapor-75-transparent-color {
  color: $vapor-75-transparent;
}
.vapor-75-transparent-bg-color {
  background-color: $vapor-75-transparent;
}



.vapor-purple-color {
  color: $vapor-purple;
}
.vapor-purple-bg-color {
  background-color: $vapor-purple;
}

.vapor-light-purple-color {
  color: $vapor-light-purple;
}
.vapor-light-purple-bg-color {
  background-color: $vapor-light-purple;
}

.vapor-pink-color {
  color: $vapor-pink;
}
.vapor-pink-bg-color {
  background-color: $vapor-pink;
}

.vapor-blue-color {
  color: $vapor-blue;
}
.vapor-blue-bg-color {
  background-color: $vapor-blue;
}

.vapor-light-blue-color {
  color: $vapor-light-blue;
}
.vapor-light-blue-bg-color {
  background-color: $vapor-light-blue;
}

.vapor-green-color {
  color: $vapor-green;
}
.vapor-green-bg-color {
  background-color: $vapor-green;
}


.vapor-arizona-pink-color {
  color: $vapor-arizona-pink;
}
.vapor-arizona-pink-bg-color {
  background-color: $vapor-arizona-pink;
}

.vapor-arizona-black-color {
  color: $vapor-arizona-black;
}
.vapor-arizona-black-bg-color {
  background-color: $vapor-arizona-black;
}

.vapor-arizona-lime-color {
  color: $vapor-arizona-lime;
}
.vapor-arizona-lime-bg-color {
  background-color: $vapor-arizona-lime;
}

.vapor-arizona-green-color {
  color: $vapor-arizona-green;
}
.vapor-arizona-green-bg-color {
  background-color: $vapor-arizona-green;
}

.vapor-arizona-blue-color {
  color: $vapor-arizona-blue;
}
.vapor-arizona-blue-bg-color {
  background-color: $vapor-arizona-blue;
}


.vapor-pepsi-blue-color {
  color: $vapor-pepsi-blue;
}
.vapor-pepsi-blue-bg-color {
  background-color: $vapor-pepsi-blue;
}

.vapor-pepsi-red-color {
  color: $vapor-pepsi-red;
}
.vapor-pepsi-red-bg-color {
  background-color: $vapor-pepsi-red;
}

.vapor-pepsi-white-color {
  color: $vapor-pepsi-white;
}
.vapor-pepsi-white-bg-color {
  background-color: $vapor-pepsi-white;
}

.vapor-pepsi-cola-color {
  color: $vapor-pepsi-cola;
}
.vapor-pepsi-cola-bg-color {
  background-color: $vapor-pepsi-cola;
}

.vapor-pepsi-grey-color {
  color: $vapor-pepsi-grey;
}
.vapor-pepsi-grey-bg-color {
  background-color: $vapor-pepsi-grey;
}


.vapor-windows-95-grey-color {
  color: $vapor-windows-95-grey;
}
.vapor-windows-95-grey-bg-color {
  background-color: $vapor-windows-95-grey;
}

.vapor-windows-95-grey-border-color {
  color: $vapor-windows-95-grey-border;
}
.vapor-windows-95-grey-border-bg-color {
  background-color: $vapor-windows-95-grey-border;
}

.vapor-windows-95-green-color {
  color: $vapor-windows-95-green;
}
.vapor-windows-95-green-bg-color {
  background-color: $vapor-windows-95-green;
}
