.vapor-windows-95-container {
  display: block;

  background-color: $vapor-windows-95-grey;
  box-shadow: 1px 1px 0 0 $vapor-windows-95-black;

  border-top: 1px solid $vapor-windows-95-grey-border;
  border-left: 1px solid $vapor-windows-95-grey-border;

  padding: 4px;
}
