.vapor-windows-container {
  background-color: $vapor-windows-grey;
  box-shadow: 1px 1px 0 0 $vapor-windows-black;

  border-top: 1px solid $vapor-windows-grey-border;
  border-left: 1px solid $vapor-windows-grey-border;
}
