// Styles made by @echo-exe
// Isolating here to prevent conflicts

.windows-button-ok {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  width: 75px;
  margin-top: 8px;
}

.windows-button-ok:active {
  transform: translateY(1px);
  box-shadow: 1px 1px #000;
}

.windows-title-bar-button-close {
  color: #070707;
  font-weight: bold;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 2px;
  width: 14px;
  height: 14px;
  font-size: 8px;
}

.windows-title-bar-button-close:active {
  transform: translatey(1px);
  box-shadow: 1px 1px 0 0 #000;
}

.windows-modal{
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  outline: 0;
  width: 400px;
  height: 400px;
}

.windows-modal-title-bar {
  text-align: left;
  color: white;
  background: #000084;
  border: 1px solid;
  border-top-color: #dbdbdb;
  border-left-color: #dbdbdb;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px;
  outline: 0;
  margin-top: 4px;
  margin-left: 4px;
  height: 18px;
  width: 390px;
  display: flex;
  align-items: center;
}

.windows-modal-wrapper {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 12px;
  margin-left: 8px;
  margin: 0px;
  margin-top: 2px;
}

.right-align {
  text-align: right;
  margin-right: 10px;
}

.corner-close {
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
  flex-grow: 1;
}

.windows-modal-tab {
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #000;
  outline: 0;
  display: flex;
  margin-left: 6px;
  width: 385px;
  height: 300px;
}

.windows-modal-tab-general {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #bfbfbf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 26px;
  margin-top: 4px;
  margin-left: 6px;
  z-index: 1;
}

.windows-modal-tab-vapor {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0;
}

.windows-tab-cont {
  display: flex;
  height: 28px;
  width: 100%;
}

.windows-modal-tab-macintosh {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0;
}

.windows-modal-tab-anime {
  color: #070707;
  background: #bfbfbf;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-right-color: grey;
  box-shadow: 1px 0 0 0 #000;
  text-align: center;
  outline: 0;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  left: 65px;
  z-index: 0;
}

.modal-text {
  margin-left: 4px;
}

.xp-modal-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.xp-modal {
  background: #ece9d6;
  border: 3px solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-color: #005cf5;
  outline: 0;
  width: 400px;
  height: 400px;
}

.xp-title-bar {
  text-align: left;
  color: white;
  background: #005cf5;
  box-shadow: 1px;
  outline: 0;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.xp-title-text {
  font-size: 12px;
  margin-left: 6px;
}

.xp-close-button {
  color: #ece9d6;
  background: #e26725;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2px;
  margin-bottom: 6px;
  margin-top: 4px;
}

.xp-modal-main  {
  background: #f8f4f1;
  border: 1px solid;
  border-top-color: #c9cac4;
  border-left-color: #c9cac4;
  border-bottom-color: grey;
  border-right-color: grey;
  box-shadow: 1px 1px 0 0 #c9cac4;
  outline: 0;
  display: flex;
  margin-left: 6px;
  width: 385px;
  height: 300px;
}

.xp-ok-button {
  color: #070707;
  background: #f8f4f1;
  border: 2px solid;
  border-radius: 4px;
  border-color: #8aa2cb;
  text-align: center;
  outline: 0;
  width: 75px;
  height: 20px;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: auto;
}

.xp-cancel-button {
  color: #070707;
  background: #f8f4f1;
  border: 2px solid;
  border-radius: 4px;
  border-color: #8aa2cb;
  text-align: center;
  outline: 0;
  width: 75px;
  height: 20px;
  margin-top: 14px;
  margin-right: 10px;
}

.xp-button-cont {
  display: flex;
  height: 28px;
  width: 100%;
}

.xp-tab-container {
  display: flex;
  height: 28px;
  width: 100%;
}

.xp-tab-style {
  color: #070707;
  background: #f8f4f1;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid;
  border-color: #c9cac4;
  text-align: center;
  outline: 0;
  height: 19px;
  margin-top: 10px;
  z-index: 0;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.xp-tab-style:nth-child(1) {
  margin-left: 6px;
  z-index: 1;
  border-top: 2px solid;
  border-bottom-color: #f8f4f1;
  border-top-color: #efc47b;
}

.system-text {
  font-size: 12px
}