// https://www.w3schools.com/css/css_dropdowns.asp
// https://tutorialzine.com/2015/08/quick-tip-css-only-dropdowns-with-the-checkbox-hack

@mixin no-button-styles {
  // https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.vapor-windows-95-dropdown {
  position: relative;
  display: inline-block;

  .vapor-windows-95-dropdown-trigger {
    @include no-button-styles;
    padding: 1px 4px;
  }

  .vapor-windows-95-dropdown-trigger:focus {
    // TODO: Make this a windows blue
    background-color: blue;
    color: $vapor-windows-95-white;
    outline: none;
  }

  .vapor-windows-95-dropdown-trigger:focus ~ .vapor-windows-95-dropdown-menu {
    display: block
  }

  .vapor-windows-95-dropdown-menu {

    display: none;
    position: absolute;
    margin: 0;
    list-style-type: none;

    background-color: $vapor-windows-95-grey;
    border-top: 1px solid $vapor-windows-95-grey-border;
    border-left: 1px solid $vapor-windows-95-grey-border;
    box-shadow: 1px 1px 0 0 $vapor-windows-95-black;

    min-width: 150px;
    padding: 4px;
    z-index: 1;

    &:hover, &:focus {
      display: block
    }

    .vapor-windows-95-dropdown-menu-item {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 10px;
      cursor: pointer;

      &:hover, &:focus {
        // TODO: Make this a windows blue
        background-color: blue;
        color: $vapor-windows-95-white;
        outline: none;
      }
    }
  }
}
