
// Don't allow gradients to repeat
// https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats
@mixin gradient-no-repeat {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Default gradient
.aesthetic-bg-gradient {
  @include gradient-no-repeat;
  background: linear-gradient($aesthetic-purple, $aesthetic-light-blue);
}
