.vapor-windows-95-text-input {
  @include windows-95-push-in;

  &:focus {
    @include windows-95-focus-outline;
  }
}

$vapor-windows-95-checkbox-size: 12px;

.vapor-windows-95-checkbox {

  cursor: pointer;
  position: relative;
  padding-left: calc(#{$vapor-windows-95-checkbox-size} + 7px);

  &:focus, &:focus-within {
    @include windows-95-focus-outline;
  }

  .vapor-windows-95-checkmark {
    cursor: pointer;

    position: absolute;
    width: $vapor-windows-95-checkbox-size;
    height: $vapor-windows-95-checkbox-size;
    top: 0;
    left: 0;

    @include windows-95-push-in;
    background: $vapor-windows-95-white;
  }

  .vapor-windows-95-checkmark::after {
    display: none;
    content: '';
    position: absolute;
    width: 5px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid $vapor-windows-95-black;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
  }

  input[type="checkbox"] {
    opacity: 0;
  }

  input[type="checkbox"]:checked + .vapor-windows-95-checkmark::after {
    display: block;
  }
}

.vapor-windows-95-radio {
  @extend .vapor-windows-95-checkbox;

  border-radius: 25px;

  &:nth-child(1) {
    margin-bottom: 100px;
  }

  .vapor-windows-95-checkmark {
    border-radius: 25px;
  }

  .vapor-windows-95-checkmark::after {
    content: '';
    position: absolute;
    background-color: $vapor-windows-95-black;
    border-radius: 25px;

    top: 3px;
    left: 3px;
    width: 3px;
    height: 3px;
    transform: rotate(0deg);
  }

  input[type="radio"] {
    opacity: 0;
  }

  input[type="radio"]:checked + .vapor-windows-95-checkmark:after {
    display: block;
  }
}
