.aesthetic-windows-95-modal {
  @extend .aesthetic-windows-95-container;

  .aesthetic-windows-95-modal-title-bar {
    @include windows-95-hover-over;

    text-align: left;
    background: $aesthetic-windows-95-blue;
    outline: 0;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;

    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .aesthetic-windows-95-modal-title-bar-text {
      color: $aesthetic-windows-95-white;
    }

    .aesthetic-windows-95-modal-title-bar-controls {
      margin-left: auto;
    }
  }

  .aesthetic-windows-95-modal-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
