.vapor-windows-95-modal {
  @extend .vapor-windows-95-container;

  .vapor-windows-95-modal-title-bar {
    @include windows-95-hover-over;

    text-align: left;
    color: $vapor-windows-95-white;
    background: $vapor-windows-95-blue;
    outline: 0;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;

    width: 95%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
