// Colors
$vapor-white: #FAFAFA;
$vapor-black: #020202;
$vapor-25-transparent: rgba(0, 0, 0, 0.25);
$vapor-50-transparent: rgba(0, 0, 0, 0.50);
$vapor-75-transparent: rgba(0, 0, 0, 0.75);

// http://www.colourlovers.com/palette/3636765/seapunk_vaporwave
$vapor-purple: #C774E8;
$vapor-light-purple: #AD8CFF;
$vapor-pink: #FF6AD5;
$vapor-blue: #8795E8;
$vapor-light-blue: #94D0FF;

// http://www.colourlovers.com/color/10D7AE/VAPOR_WAVE_GREEN
$vapor-green: #10D7AE;

// http://www.colourlovers.com/palette/1356100/Arizona_Green_Tea
$vapor-arizona-pink: #FA7785;
$vapor-arizona-black: #24211A;
$vapor-arizona-lime: #D5D87D;
$vapor-arizona-green: #B1D4B6;
$vapor-arizona-blue: #53CBBF;

// http://www.colourlovers.com/palette/342074/pepsi_cola
$vapor-pepsi-blue: #123DFF;
$vapor-pepsi-red: #E11C2D;
$vapor-pepsi-white: #FFFFFF;
$vapor-pepsi-cola: #490104;
$vapor-pepsi-grey: #C0C0C0;

$vapor-windows-grey: #BFBFBF;
$vapor-windows-grey-border: #DFDFDF;
$vapor-windows-gray: $vapor-windows-grey;
$vapor-windows-gray-border: $vapor-windows-grey-border;

// Our default font stack
$vapor-font-stack: Times, Times New Roman, Georgia, serif;
