// Colors
$aesthetic-white: #FAFAFA;
$aesthetic-black: #020202;
$aesthetic-25-transparent: rgba(0, 0, 0, 0.25);
$aesthetic-50-transparent: rgba(0, 0, 0, 0.50);
$aesthetic-75-transparent: rgba(0, 0, 0, 0.75);

// http://www.colourlovers.com/palette/3636765/seapunk_vaporwave
$aesthetic-purple: #C774E8;
$aesthetic-light-purple: #AD8CFF;
$aesthetic-pink: #FF6AD5;
$aesthetic-blue: #8795E8;
$aesthetic-light-blue: #94D0FF;
// http://www.colourlovers.com/color/10D7AE/VAPOR_WAVE_GREEN
$aesthetic-green: #10D7AE;

// http://www.colourlovers.com/palette/1356100/Arizona_Green_Tea
$aesthetic-arizona-pink: #FA7785;
$aesthetic-arizona-black: #24211A;
$aesthetic-arizona-lime: #D5D87D;
$aesthetic-arizona-green: #B1D4B6;
$aesthetic-arizona-blue: #53CBBF;

// http://www.colourlovers.com/palette/342074/pepsi_cola
$aesthetic-pepsi-blue: #123DFF;
$aesthetic-pepsi-red: #E11C2D;
$aesthetic-pepsi-white: #FFFFFF;
$aesthetic-pepsi-cola: #490104;
$aesthetic-pepsi-grey: #C0C0C0;

// Windows
$aesthetic-windows-95-white: #FFF;
$aesthetic-windows-95-grey: #BFBFBF;
$aesthetic-windows-95-grey-border: #DFDFDF;
$aesthetic-windows-95-gray: $aesthetic-windows-95-grey;
$aesthetic-windows-95-gray-border: $aesthetic-windows-95-grey-border;
$aesthetic-windows-95-grey-border-shadow: #808080;
$aesthetic-windows-95-black: #000;
//http://www.colourlovers.com/color/218763/Windows_95_Green
$aesthetic-windows-95-green: #218763;
$aesthetic-windows-95-blue: #000084;

// Our default font stack
$aesthetic-font-stack: Times, Times New Roman, Georgia, serif;
