// Imports
@import "variables";
@import "gradients";
@import "font-modifiers";

// Default font
@mixin vapor-font {
  font-family: $vapor-font-stack;
  font-weight: lighter;

  h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
  }
}
.vapor-font {
  @include vapor-font
}

// Fonts will be an optional import at some point
@import "fonts";
